// Blocksy.scss

$web-font-path: "https://fonts.googleapis.com/css?family=Montserrat&display=swap" !default;
$fa-font-path: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" !default;

@import url($web-font-path);
@import url($fa-font-path);

// Colors Bs
$white:    #fdfdda !default;
$gray-100: #f8f9fa !default;
$gray-200: #ebebeb !default;
$gray-300: #7e7e7e !default;
$gray-400: #6e6e6e !default;
$gray-500: #5e5e5e !default;
$gray-600: #4e4e4e !default;
$gray-700: #3e3e3e !default;
$gray-800: #2e2e2e !default;
$gray-900: #1e1e1e !default;
$black:    #0e0e0e !default;

$blue:    #375a7f !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #E74C3C !default;
$orange:  #fa6400 !default;
$yellow:  #F39C12 !default;
$green:   #7ebf45 !default;
$teal:    #20c997 !default;
$cyan:    #3498DB !default;

$primary:       $orange !default;
$secondary:     $gray-700 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $secondary !default;
$dark:          $gray-700 !default;


// Blocksy Global
:root {
    --paletteColor1: var(--bs-primary);
    --paletteColor2: var(--bs-secondary);
    --paletteColor3: var(--bs-yellow);
    --paletteColor4: var(--bs-white);
    --paletteColor5: var(--bs-gray-600);
    --paletteColor6: var(--bs-gray-700);
    --paletteColor7: var(--bs-gray-800);
    --paletteColor8: var(--bs-gray-900);

    --qubely-color-1: var(--paletteColor1);
    --qubely-color-2: var(--paletteColor2);
    --qubely-color-3: var(--paletteColor3);
    --qubely-color-4: var(--paletteColor4);
    --qubely-color-5: var(--paletteColor5);
    --qubely-color-6: var(--paletteColor6);
    --qubely-color-7: var(--paletteColor7);
    --qubely-color-8: var(--paletteColor8);

    --fontFamily: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --fontWeight: 400;

    --textTransform: none;
    --textDecoration: none;
    --fontSize: 16px;
    --lineHeight: 2;
    --letterSpacing: 0.1rem;

    --buttonFontWeight: 500;
    --buttonFontSize: 16px;

    --has-classic-forms: var(--true);
    --has-modern-forms: var(--false);
    
    --border-color: var(--paletteColor1);
    
    --form-font-size: 14px;
    --form-field-border-initial-color: var(--paletteColor1);
    --form-field-border-radius: 0px;
    --form-field-border-focus-color: var(--paletteColor2);
    --form-field-border-width: 2px;
    --form-field-select-initial-background: var(--paletteColor1);
    
    --form-selection-control-initial-color: var(--border-color);
    --form-selection-control-accent-color: var(--paletteColor1);

    --color: var(--bs-white);
    --linkInitialColor: var(--paletteColor1);
    --linkHoverColor: var(--paletteColor3);

    --selectionTextColor: var(--paletteColor2);
    --selectionBackgroundColor: var(--paletteColor1);
    
    --headings-color: var(--paletteColor1);
    --contentSpacing: 2em;
    --buttonMinHeight: 30px;
    --buttonShadow: none;
    --buttonTransform: none;
    --buttonTextInitialColor: #ffffff;
    --buttonTextHoverColor: #ffffff;
    --buttonInitialColor: var(--paletteColor1);
    --buttonHoverColor: #e39764;
    --button-border: none;
    --buttonBorderRadius: 0px;
    --container-max-width: 1400px;
    --content-vertical-spacing: 130px;
    --narrow-container-max-width: 750px;
    --wide-offset: 130px;
    --body-color: var(--bs-white);

}



// Contrast
$yiq-contrasted-threshold:  175 !default;


// Body
$body-bg:                   $gray-900 !default;
$body-color:                $white !default;

// Links
$link-color:                $primary !default;

// Fonts
$font-family-sans-serif:      "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base:              0.9375rem !default;

$h1-font-size:                3rem !default;
$h2-font-size:                2.5rem !default;
$h3-font-size:                2rem !default;

$text-muted:                  $gray-500 !default;

// TABLES
$table-accent-bg:             $gray-700 !default;

$table-border-color:          $gray-700 !default;

// Forms
$input-border-color:                $primary !default;

$input-group-addon-color:           $white !default;
$input-group-addon-bg:              $secondary !default;

$custom-file-color:                 $secondary!default;
$custom-file-border-color:          $primary !default;

// DROPDWNS
$dropdown-bg:                       $gray-900 !default;
$dropdown-border-color:             $primary !default;
$dropdown-divider-bg:               $primary !default;

$dropdown-link-color:               $white !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// NAVS
$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-500 !default;

$nav-tabs-border-color:             $gray-700 !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $white !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// NAVBAR
$navbar-padding-y:                  1rem !default;
$navbar-dark-color:                 rgba($white,.6) !default;
$navbar-dark-hover-color:           $white !default;
$navbar-light-color:                rgba($gray-900, .7) !default;
$navbar-light-hover-color:          $gray-900 !default;
$navbar-light-active-color:         $gray-900 !default;
$navbar-light-toggler-border-color: rgba($gray-900, .1) !default;

// PAGiNATiON
$pagination-color:                  $body-bg !default;
$pagination-bg:                     $primary !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;

$pagination-hover-color:            $body-bg !default;
$pagination-hover-bg:               lighten($primary, 10%) !default;
$pagination-hover-border-color:     transparent !default;

$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;

$pagination-disabled-color:         $dark !default;
$pagination-disabled-bg:            $primary !default;
$pagination-disabled-border-color:  transparent !default;

// JUMBOTRON
$jumbotron-bg:                      $gray-800 !default;

// CARDS
$card-cap-bg:                       $gray-700 !default;
$card-bg:                           $gray-800 !default;

// POPOVERS
$popover-bg:                        $gray-800 !default;
$popover-header-bg:                 $gray-700 !default;

// TOASTS
$toast-background-color:            $gray-700 !default;
$toast-header-background-color:     $gray-800 !default;

// MODAL
$modal-content-bg:                  $gray-800 !default;
$modal-content-border-color:        $gray-700 !default;
$modal-header-border-color:         $gray-700 !default;

// PRGRSS BARS
$progress-bg:                       $secondary !default;

// LiSTGROUPS
$list-group-bg:                     $gray-800 !default;
$list-group-border-color:           $gray-700 !default;
$list-group-hover-bg:               $gray-700 !default;

// BREADCRUMBS
$breadcrumb-bg:                     $secondary !default;

// CLOSE
$close-color:                       $white !default;
$close-text-shadow:                 none !default;

// CODE
$pre-color:                         inherit !default;



// Import 
@import "bootstrap/scss/bootstrap";